* {
  font-family: Arial, Helvetica, sans-serif;
}
.bold {
  font-weight: bold;
}

.text p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .9vw;
  margin: 5px 0;
}

.text h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1vw;
}

.text a {
  font-family: Arial, Helvetica, sans-serif;
}

/* header */
header{
  margin-bottom: 150px;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: -1 55px;
  height: 90px;
  position: fixed;
  top: 0;
  background-color: white;;
}



.logo {
  transform: scale(0.6);
}


/* body */
.main {
  display: flex;
  margin: auto;
  justify-content: space-between;
  padding: 60px 225px;
}

.column { width: 48%; }

.column .experiences .text ul li {
  font-size: .9vw;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  display: flex;
  height: 30vw;
  width: 30vw;
  background-color: rgb(230 230 230);
  border-radius: 50%;
}

.circle::before {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.circle-content {
  padding: 8% 15%;
}

.circle-content .top {
  display: flex;
  margin-top: -20px;
}

.circle-content .top img {
  height: 8vw;
}

.circle-content .top h2 {
  white-space: nowrap;
  margin: 7vw 4vw 0 0;
}

.circle-content .middle {
  font-size: 1vw;
}

.circle-content .bottom {
  display: flex;
  justify-content: center;
}

.circle-content .bottom p {
  margin: 5px 0;
}

.circle-content .bottom img {
  margin-left: 10px;
  width: 28px;
  height: 25px;
}


/* footer */
.footer {
  width: 100%;
  min-height: 200px;
  background: rgb(235, 201, 201);
  margin-top:32px;

}
.footer-left{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 200px;

}
.footer-left img{
  width: 350px;
}
.footer-center{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;

  min-height: 200px;


}
.footer-right{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 200px;



}
.footer-right img{
  width: 30px;
  
}

.content{
  width: 1000px; 
  margin:0 auto;
}

.image-container{

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 6px;
  
}
.image-container img{
  width: 100%;
  height: 100%;
}

button {
  background-color: white;
  color: grey;
  border-radius: 12px !important;
  border: 2px solid grey;
  margin-bottom: 40px;
}
button:hover{
  color: black;
  border: 2px solid black;
}
.nav-button-container{
  margin-bottom: 24px;
}
.nav-button-container .active{
  color: black;
  border: 2px solid black;
}
button + button{
  margin-left:8px;
}
button.active{
  color: black;

}

.content-wrapper{
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom:16px;
}
.image-wrapper{
  position: relative;
}
.image-wrapper:hover .image-overlay{
  display: flex;
  
}
.image-overlay{
  position:absolute; 
  display: none;
  align-items:center; 
  justify-content: center; 
  width: 100%; 
  height: 100%;
}
.image-overlay.orange{
  background-color: rgba(204, 204, 204, 0.5);
}

.image-detail {
  max-width:800px;
  margin:0 auto;
  text-align: center;
}

.image-detail img{
  width: 100%;
  margin-bottom: 32px;
}
.bottom-nav{
  margin-bottom: 16px;
}
.illustration-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}
.illustration-grid img{
  width: 100%;
}
.content-image img{
  width:100%;
  height:100%;
}
.content-image{
  padding:32px;

}
.content-title{
  width:100%;
  height:100%;
  padding:32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-display{
  width:100%;
}

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}
.fas{
  z-index:100;
}